/.idea/
.gradle
*.jar
/build/
/out/

# fix this to be multiple project level git ignores
*/build/
*.class

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
